PORT=8080
HOST=127.0.0.1
DEMO_SYNC_ENABLED=true
DEMO_SYNC_INTERVAL_MS=10000
DEMO_SYNC_START_DELAY_MS=2000
DASHBOARD_PUSH_INTERVAL_MS=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_DATABASE=air_quality
